{block optional}
<script type="text/javascript" src="fotoprint.js"></script>
<script type="text/javascript" src="gallery.js"></script>
{/block}

{block topBanner}
<div id="topBanner">
	<img id="topbnr1" src="img/tisk-fotografii.png" alt="tisk fotografií" style="position: absolute; left: 10px; top: 2px;">
	<img id="topbnr2" src="img/tisk-fotoobrazu.png" alt="tisk fotoobrazů" style="position: absolute; left: 154px; top: 90px;">
	<img id="topbnr3" src="img/fotografie-na-pockani.png" alt="fotografie na počkání" style="position: absolute; left: 10px; top: 90px;">
</div>
{/block}

{block content}
<div id="content">
	<h2 n:block="title">test</h2>
	<div class="block two">
		<p>
			<img class="icon" alt="{include #title|striptags|trim}" src="icon/reklamni-agentura.png">
			Cílem naší reklamní agentury je zajistit zákazníkům v příbramském regionu (a nejen v něm),
			100% KVALITNÍ SERVIS v reklamní oblasti a maximálně vstřícný přístup,
			který je nezbytnou součástí harmonicky fungujícího obchodu.
		</p>
		<p>
			Jsme si plně vědomi toho, že hlavním zájmem našich klientů je především SE ZVIDITELNIT a dostat se tak za pomoci reklamy do povědomí veřejnosti.
			Proto náš servis zahrnuje nejen výrobu reklamy, ale i poradenství v této oblasti,
			včetně PRONÁJMU REKLAMNÍCH PLOCH za velmi příznivé ceny.
			Vždy velice oceníme, pokud se k nám zákazníci vracejí – tím spíše s pozitivními referencemi a ohlasy na naši práci,
			což nás samozřejmě velmi motivuje.
		</p>
	</div>
	<div class="block two">
		<p>
			Reklama má být efektivní a jejím úkolem je pomoci klientům vytvořit přitažlivou image jejich firmy či podniku.
			Právě tohoto výsledku se snažíme vždy dosáhnout.
			Ostatně – Vaše dobře fungující a atraktivní reklama je naší vizitkou.
			Těší nás pečovat o stávající zákazníky a vždy rádi přivítáme nové!
		</p>
	</div>
	<img id="foto11" src="img/foto1.png" alt="" width="110" aheight="133" style="display:none;position: absolute; left: 250px; top: 100px;">
	<img id="foto22" src="img/foto2.png" alt="" width="120" aheight="133" style="display:none;position: absolute; left: 180px; top: 40px;">
	<img id="foto33" src="img/foto3.png" alt="" width="110" aheight="133" style="display:none;position: absolute; left: 180px; top: 120px;">
	<img id="foto4" src="img/obr4.png" alt="" width="0" height="133" style="position: absolute; left: 1000px; top: 90px;">
	<img id="foto5" src="img/obr5.png" alt="" width="0" height="128" style="position: absolute; left: 1000px; top: 90px;">
</div>
{/block}
