{var $robots = noindex}
<div n:block="content" id="content">
	<h2 n:block=title>Stránka nenalezena</h2>
	<p class="block two">
		Stránka kterou hledáte na serveru neexistuje.
		Stránka mohla být přesunuta nebo odstraněna.
		Vyberte si prosím z nabídky v záhlaví stránky.
	</p>
	<p><small>error 404</small></p>
</div>
