<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="BETA AX je reklamní agenturou, která se ve svém okolí Příbram snaží být tou nejlepší a razit nový směr.">
		<meta name="keywords" content="{block keywords|strip|striptags}reklama, agentura, příbram, fóliová, světelná, 3D, potisk{/block}">
		<meta name="robots" content="{$robots}" n:ifset="$robots">
		<title>{block title|strip|striptags}Reklamní agentura BETA AX{/block}</title>
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" href="/betaax.css" type="text/css">
		<script type="text/javascript" src="/jquery.js"></script>
		<script type="text/javascript" src="/betaax.js"></script>
		<script type="text/javascript" src="gallery.js"></script>
	</head>
	<body>
		<div id="page">
			<div id="hdr1"></div>
			<div id="hdr2"></div>
			<div id="head">
				<img id="logo1" alt="Reklamní agentura BETA AX" src="/img/beta-ax1.png">
				<img id="logo2" alt="Reklamní agentura BETA AX" src="/img/beta-ax2.png">
				<ul id="menu">
					{foreach $menu as $item}
						{block |strip|replace:"> <":"><"|indent:5}
						<li>
							{var $link=$item['link']}
							<a {ifCurrent $item['link']} class="active"{/ifCurrent} n:href="Betaax:$link">
								<img class="icon" alt="{$item['title']}" src="/icon/{$item['icon']}.png">
							</a>
						</li>
						{/block}
					{/foreach}
				</ul>
				<div id="bannerLine"></div>
				<div id="bannerTop">
					<h2>Kompletní reklamní servis</h2>
					<h2>Web design • polepy vozů • fotoslužby</h2>
					<h2>Fotoobrazy na míru</h2>
				</div>
			</div>
			{include #content|indent:3}
			<div id="foot">
				<div id="bnrBtm">
					<h2>PRONÁJEM REKLAMNÍCH PLOCH</h2>
					<h2>VAŠE REKLAMA PO MĚSTĚ</h2>
				</div>
			</div>
		</div>
	</body>
</html>

{define gallery}
<div class="gallery">
	<h2>Fotogalerie</h2>
	{foreach $gallery as $image}
		<a href="{$image['fl']}" rel="g[i]">
			<img src="{$image['sm']}" alt="" />
		</a>
	{/foreach}
</div>
{/define}
